.errorNumber {
	position: fixed;
	text-align: center;
    color: #838991;
	top: 6rem;
    font-size: 12rem;
}

.messageDenied{
    color: white;
}

.float-animation {
	width: 16rem;
    height: 16rem;
    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
    border-width: 5px;
    background: #ff000059;
    backdrop-filter: blur(5px);
    position: relative;
    animation: float 3s infinite;
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(30px);
	}
	100% {
		transform: translateY(0px);
	}
}
